/**/
body {
  background-color: #e9d783;
  max-width: 1000px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#pagetopcontent .name {
  font-family: Helvetica;
  font-size: 50px;
  clear: right;
}

#pagetopcontent .title {
  font-family: Helvetica;
  font-size: 30px;
  font-style: italic;
  clear: right;
}

hr {
  width: 100%;
  margin-bottom: 20px;
  margin-top: 15px;
  color: black;
  clear: both; /*need this to have line break below profile picture in firefox*/
}

/*Centers the width of the image on the webpage */
#pagemiddlecontent img {
   display: block;
   margin-left: auto;
   margin-right: auto;
}

.contactsectiontitle {
  font-family: Helvetica;
}

/*flex wrap the contact info photo links */

/*justify-content: space-between; works when I inspect, but when I refresh page images are not spaced correctly...
 visually see how flex wraps work here https://yoksel.github.io/flex-cheatsheet/ ...it should be working*/
#pagebottomcontent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  max-width: 1000px;
}

#pagebottomcontent figure {
  margin-inline-start: 0%;
  margin-inline-end: 0%;
  max-width: 25%;
  max-height: 100%;
}

figcaption {
  font-family: Helvetica;
}


/*
figure {
  align-items: center;
}
*/

/*.contactphotosinstagram,.contactphotoslinkedin,.contactphotosgithub,.contactphotosgmail {
  margin-inline-start: 0%;
  margin-inline-end: 0%;
}*/


/*add thickness and max width for <hr> ex. <hr size="30">  hr{width:50%;margin:0 auto;}*/
