
/* STYLESHEET NOT LINKING TO HTML */
body {
  background-color: silver;
  max-width: 1000px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*Centers the width of the image on the webpage */
#pagemiddlecontent img {
   display: block;
   margin-left: auto;
   margin-right: auto;
}

#pagetopcontent .name {
  font-family: Helvetica;
  font-size: 50px;
  clear: right;

}

#pagetopcontent .title {
  font-family: Helvetica;
  font-size: 30px;
  font-style: italic;
  clear: right;

}

hr {
  width: 100%;
  margin-bottom: 20px;
  margin-top: 15px;
  color: black;
}



/*flex wrap the hyperlinks */

#pagebottomcontent{
  display: flex;
  flex-wrap: wrap;

/*  margin-left: 0%;
  margin-right: 0%;
  justify-content: start; */
}

.contactphotosinstagram,.contactphotoslinkedin,.contactphotosgithub,.contactphotosgmail {
  width: 25%;
  padding: 0%;
  margin: 0%;

}



/*add thickness and max width for <hr> ex. <hr size="30">  hr{width:50%;margin:0 auto;}*/

/* make name and title float by profile picture*/

/* add breakers*/

/* add auto page margins*/

/*Change font types and sizes*/

/* */

/* */
